# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
build/
.venv/
venv/
.env
.env.*
!.env.example

# IDEs/Editors
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Runtime
.uvicorn.pid
